{% extends 'main/base.html' %}
{% block content %}

<section class="content-block">
    <label class='tab gradient-dg-dcyan'><h2 class="bolder">Register</h2></label>
    <div class="box-area">

        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" name="Create User" value="Create User">
        </form>
        
    </div>
</section>

<br><h1>Next</h1><br>

{% endblock %}
{% comment %} {% include 'main/teacherPage.html' %} {% endcomment %}


