{% extends 'main/base.html' %} 

{% block title %}
{{lection.title}}
{% endblock %}

{% block content %}

<section class="content-block">
    <label class='tab gradient-dg-dcyan'><h2 class="bolder">{{lection.title}}</h2></label>
    <div class="box-area">
        <h3>Lection details: " {{lection.body}} "</h3>
        {% comment %} <h3>File: '{{lection.document}}'</h3>
        <h3>Filerl: '{{lection.document.url}}'</h3> {% endcomment %}

        <h3>File:{% if lection.fileurl != '/media/'%}
            <a href="{{lection.fileurl}}">PRESS To View</a>
        {% else %}
            <a>NO file...</a>
        {% endif %}
        </h3>

        <image src="{{lection.fileurl}}" width="500">

        {% comment %} <h3>FileDownload: ' <a href={{request.get_host}}{{lection.document.url}} download> ' -was file </a></h3> {% endcomment %}
        {% comment %} <h3>Filename:  <a href="{{lection.filename}}">{{lection.filename}}</a></h3> {% endcomment %}
        {% comment %} <img src="{{ lection.document.url }}" /> {% endcomment %}

        {% comment %} <a href="{% url 'lection.document.seq_file.read()' %}">FILE HERE</a> {% endcomment %}
        <br/>
    </div>
        <br/>
    {% comment %} <a href="{% url 'classroom' lection.author.id %}">Back</a> {% endcomment %}
    <button class="btn btn-success" onclick="location.href='{% url 'classroom' lection.author.id %}'" style="color:black; font-weight:bold;" >Back</button>
</section>

{% endblock %}