{% extends 'main/base.html' %} 

{% block title %}
{{lection.title}}
{% endblock %}

{% block content %}

<section class="content-block">
    <label class='tab gradient-dg-dcyan d-flex align-items-center justify-content-between'>
        <h2 class="bolder">{{lection.title}}</h2> 
        <div class="text-end">
            {% if lection.author.id == user.id %}
                <button class="btn btn-info" onclick="location.href='{% url 'lection-edit' lection.pk %}'"  style="color:black; font-weight:bold; border: 2px solid black;" >Edit</button>
                <button class="btn btn-danger" onclick="location.href='{% url 'lection-delete' lection.pk %}'"  style="color:black; font-weight:bold; border: 2px solid black;" >Delete</button>
            {% endif %}
        </div>
    </label>

    <div class="box-area">
        <h3>Lection details: " {{lection.body}} "</h3>
        {% comment %} <h3>File: '{{lection.document}}'</h3>
        <h3>Filerl: '{{lection.document.url}}'</h3> {% endcomment %}

        <h3>File:{% if lection.fileurl != '/media/'%}
            <a href="{{lection.fileurl}}" target="_blank">PRESS To View</a>
        {% else %}
            <a>NO file...</a>
        {% endif %}
        </h3>
        <image src="{{lection.fileurl}}" width="500">
        <br/>
    </div>
        <br/>
    <button class="btn btn-success" onclick="location.href='{% url 'classroom' lection.author.id %}'"  style="color:black; font-weight:bold; border: 2px solid black;" >Back</button>
</section>

{% endblock %}