{% extends 'main/base.html' %} 

{% block title %}
{{practice.title}}
{% endblock %}

{% block content %}

{% if user.id != teacher_id and user.id not in practice.student_ids%}
    <div class="warning">
        <p class="warning-text">You are not Allowed Here!</p>
    </div>
{% else %}

    <section class="content-block">
        <label class='tab gradient-dg-dcyan'><h2 class="bolder">{{practice.title}}</h2></label>
        <div class="box-area">

            <h3>Practise details: '{{practice.body}}'</h3>
            <h3>Practice File: <a href="{{practice.fileurl}}" target="_blank">HERE</a></h3>
            <h3>Students:</h3>

            <p>{{practice.student_formated_list}}</p>
        </div>
        <br/>
        <div>
            <h3>Results:</h3>
            <div>
                {% comment %} {% for i in practice.get_all_practise_results %}
                    <p>{{i}}<p>
                {% endfor %}  {% endcomment %}
            
            </div>

    {% comment %} 
                        practice.student_ids - всі кому призначено.
                        passed_students - всі хто здали. 
    {% endcomment %}


            {% comment %} 
            __________________ FOR TEACHER to Check _________ 
            {% endcomment %}
            
            {% if user.id == teacher_id %}

                {% for item in practice_results %}
                    <p class="pased">[Passed] {{item.student.abv}} | {{item.student.id}} | File: 
                        {% if item.doc_sended %}
                            <a href="{{item.fileurl}}"><strong>[CLICK VIEW]</strong></a>
                        {% else %}
                            <strong>FILE ERROR!</strong>
                        {% endif %}
                    |  (time): {{item.passed_time}}</p> 
                {% endfor %}

                {% for item in all_students %}
                    {% if item not in passed_students %}
                        <p class="npased">[didn't] {{item.abv}} - no work yet.</p>
                    {% endif %}
                {% endfor %}

            {% else %}
            {% comment %} 
            __________________ FOR Students to PASS _________   all_students_ids = practice.student_ids
            {% endcomment %}

                ids: {{all_students_ids}}
                {% if user not in passed_students %}
                    <p>You didn't passed the WORK!</p> 
                        <p>Student {{user}} not in {{passed_students}}</p>  
                    <button type="button" class="btn btn-success">Pass now!</button>
                    </br>
                {% else %}
                    {% for item in practice_results %}
                        {% if item.student.id == user.id%}
                            <h2>Congratulations, you passed your work! {{practice_results.}}</h2>
                            <p>Your work: <a href="{{item.fileurl}}"><strong>[CLICK VIEW]</strong></a>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            {% endif %}



        </div>
        <br/>
        <button onclick="location.href='{% url 'classroom' practice.author.id %}'" class="btn btn-success"  style="color:black; font-weight:bold;" >Back</button>
    </section>
{%endif%}
{% endblock %}
