


<h1>{{practice.title}}</h1></br>
<h3>Task: '{{practice.body}}'</h3>
<h3>File: '{{practice.document}}'</h3>
{% comment %} <h3>FileDownload: ' <a href={{request.get_host}}{{lection.document.url}} download> ' -was file </a></h3> {% endcomment %}
<h3>File: filename '{{practice.filename}}'</h3>

{% comment %} <a href="{% url 'lection.document.seq_file.read()' %}">FILE HERE</a> {% endcomment %}
<h3>Students:</h3>
<p>{{practice.students}}</p>
<br/>
<br/>
<a href="{% url 'classroom' practice.author.id %}">Back</a>