
    {% extends 'main/base.html' %}

    {% comment %} <title>Class {{teacher.id}}</title> {% endcomment %}
    {%block title %}
        Classroom [ {{teacher_id}} ]
    {% endblock %}

    {% block content %}

    <section class="content-block">
        <label class='tab gradient-dg-dcyan'><h2 class="bolder">Lections</h2>
            {% if user.id == teacher_id %}
                <button style="border: 3px solid #464646;  height: fit-content; align-self: center; background-color: #00f9c3;">
                <a href="{% url 'lection-add'%}" style="text-decoration: none">Add new</a>
                </button>
            {% else %}
            {% endif %}
        </label>
        <ul class="list-box">
        {% for item in lections %}
            {% if item.is_open or user.id == teacher_id %}
                <li><button class="btn btn-success btn-list" onclick="location.href='{% url 'lection-details' item.author.id item.pk  %}'" ><a href="#">{{ item.title }}</a> - {{item.author}}</button></li>
            {% endif %}
        {% endfor %}
        </ul>
    </section>


    <section class="content-block">
        <label class='tab gradient-dg-dcyan'><h3>Practices</h3>
            {% if item.is_open or user.id == teacher_id %}
                <button style="border: 3px solid #464646;  height: fit-content; align-self: center; background-color: #00f9c3;">
                <a href="{% url 'practice-add'%}" style="text-decoration: none">Add new</a>
                </button>
            {% else %}
            {% endif %}
        </label>
        

        <ul class="list-box">
        {% for item in practices %}
            {% comment %} <pre>item.is_open: {{item.is_open}}      and ID[ {{user.id}} ] in {{item.student_ids}}  teacher: {{teacher_id}} </pre> {% endcomment %}

            {% if item.is_open and user.id in item.student_ids or user.id == teacher_id %}
                <li><button class="btn btn-success btn-list" onclick="location.href='{% url 'practice-ex-details' item.author.id item.pk  %}'" ><a href="#">{{ item.title }}</a> - {{item.author}}</button></li>
                {% comment %} <p>{{item.student_formated_list}}</p> {% endcomment %}
            {% comment %} {% else %}
                {% for x in item.student_ids %}
                    {% if user.id == x %}
                        <li><button class="btn btn-success btn-list" onclick="location.href='{% url 'practice-ex-details' item.author.id item.pk  %}'" ><a href="#">{{ item.title }}</a> - {{item.author}}</button></li>
                    {% endif %}
                {% endfor %} {% endcomment %}
            {% endif %}
        {% endfor %}

        <ul>
    </section>
    
    <section class="content-block">
        <label class='tab gradient-dg-dcyan'><h3>Tests</h3>
            {% if user.id == teacher_id %}
                <button class="add-btn">
                <a href="{% url 'test_add_1' %}" style="text-decoration: none">Add new</a>
                </button>
            {% else %}
            {% endif %}
        </label>
        {% comment %} ADD IF User is Teacher, then show add form {% endcomment %}
        <ul class="list-box">
        {% for item in tests %}
            <li><button class="btn btn-success btn-list" onclick="location.href='{% url 'practice-details' item.author.id item.pk  %}'" ><a href="#">{{ item.title }}</a> - {{item.author}}</button></li>
        {% endfor %}
        </ul>

    </section>

        {% comment %} 
        {% endcomment %}
    {{form.lections}}


    {% endblock %}